
@{
    ViewBag.Title = "AboutUs";
}

<!-- About section
================================================== -->

<div style="margin-top:50px;" class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-md-12 col-xs-12">
            <h1 style="text-align:center;font-weight: 800;color:#4B4741;font-family:Helvetica;">
                MASALA DARBAR <small style="color:#777;font-weight: 400;line-height:1;font-family:Lucida Sans;display: block !important;text-transform none;text-align:center;margin:10px 0px 15px 0px;">A little about us and a brief history of how we started.</small>
            </h1>
            <img style="width:30%;height:30px;margin:0px auto;  " class="img-responsive" src="~/Resources/Images/line.png" />
        </div>
    </div>
    <div style="margin-top:20px;" class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
            <img style="margin-top:10px;width:100%;height:400px;" class="img-responsive" src="~/Resources/Images/abus.png">
        </div>
        <div class="col-sm-8 col-lg-8 col-xs-12 col-md-8">
            <blockquote>
                <p style="margin-top:0px;font-family:Lucida Sans;color: #828281;font-size: 22px;">
                    <strong>Masala Darbar</strong> is established as fine dining Indian restaurants known for its exclusivity and a touch of simplicity that is as unique as is the name. We take pride in offering tasty Indian food with exotic picks from all over India.
                </p><br />
                <p style="font-family:Lucida Sans;color: #828281;font-size: 22px;">
                    Here you can be assured of the best of Indian cuisine, presented impeccably in the traditional but Classic copperware. Food is cooked in most hygienic atmosphere using the freshest of ingredients in a state-of-the-art kitchen fitted with the best of equipment using all the latest technologies. Our All Restaurants are decorated with Indian Traditional Artifacts. These beautiful Artifacts and our tasty food make your every visit memorable. <span style="font-family:Buxton Sketch;color:#828281;font-size:22px;">Welcome to Masala Darbar Restaurants!</span>
                </p>
            </blockquote>
        </div>
    </div>
</div>
<!-- about section end
================================================== -->
<div class="row">

    <div class="col-lg-4 col-xs-12 col-md-4 col-sm-4">
        <button style="width:100%;height:60px;font-family:Lucida Sans;margin:0px auto;color:#EDFFFF;background-color:#8F2640;" type="submit" class="btn btn-default btn-lg"><h4>OUR BRANCHES</h4></button>
    </div>
    <div class="col-lg-4 col-xs-12 col-md-4 col-sm-4">
        <button style="width:100%;height:60px;font-family:Lucida Sans;margin:0px auto;color:#EDFFFF;background-color:#8F2640;" type="submit" class="btn btn-default btn-lg"><h4>EXPLORE MENU</h4></button>
    </div>
    <div class="col-lg-4 col-xs-12 col-md-4 col-sm-4">
        <button style="width:100%;height:60px;font-family:Lucida Sans;margin:0px auto;color:#EDFFFF;background-color:#8F2640;" type="submit" class="btn btn-default btn-lg"><h4>ORDER ONLINE</h4></button>
    </div>
</div>

